<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node App</title>
</head>

<body>
  <h1>Node App</h1>
  <form method="post" action="/commands">
    <label for="description">Description:</label><br>
    <input type="text" name="description"><br><br>
    <label for="command">Command:</label><br>
    <input type="text" name="command"><br><br>
    <label for="technology">Technology:</label><br>
    <select id="technology">
        <option value="unix">unix</option>
        <option value="docker">docker</option>
        <option value="kubernetes">kubernetes</option>
        <option value="gauge">gauge</option>
        <option value="java">java</option>
        <option value="shell">shell</option>
        <option value="python">python</option>
        <option value="javascript">javascript</option>
        <option value="git">git</option>
      </select><br><br>
    <input type="submit" value="Submit">
  </form>
  <h4>Commands:</h4>
  <ul>
    <% command.forEach(function(c) { %>
        <li><%= c.description %> - <%= c.command %></li>
    <% }); %>
</ul>
</body>
</html>
