<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node App</title>
</head>

<body>
  <h1>Node App</h1>
  <form method="post" action="/commands">
    <label for="description">Description:</label><br>
    <input type="text" name="description"><br><br>
    <label for="command">Command:</label><br>
    <input type="text" name="command"><br><br>
    <label for="technology">Technology:</label><br>
    <select id="technology">
        <option value="volvo">unix</option>
        <option value="saab">docker</option>
        <option value="fiat">kubernetes</option>
        <option value="audi">gauge</option>
        <option value="audi">java</option>
        <option value="audi">shell</option>
        <option value="audi">python</option>
        <option value="audi">javascript</option>
        <option value="audi">git</option>
      </select><br><br>
    <input type="submit" value="Submit">
  </form>
  <h4>Commands:</h4>
  <ul>
    <% command.forEach(function(c) { %>
        <li><%= c.description %> - <%= c.command %></li>
    <% }); %>
</ul>
</body>
</html>
